.article, .interview,
.freelance,
.food {
  padding: 0 20px 0 0; }
  @media (max-width: 768px) {
    .article, .interview,
    .freelance,
    .food {
      padding: 80px 5%; } }

.container {
  width: 1000px;
  margin: 0 auto; }

.header {
  padding: 50px 0 50px; }
  .header__container {
    display: grid;
    grid-template-columns: 260px auto; }
  .header__menu--wrap {
    width: 230px; }
  .header__content {
    width: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 500px; }
    .header__content--thumb {
      height: 100%;
      border-radius: 30px 0 0 30px;
      overflow: hidden;
      position: relative;
      font-size: 24px;
      background-size: cover;
      background-image: url("/img/header_thumb.svg"); }
    .header__content--wrap {
      display: grid;
      grid-template-rows: 50% 50%;
      border-radius: 0 30px 30px 0;
      overflow: hidden; }
    .header__content--index {
      height: 100%;
      background-color: #42A4EB;
      position: relative;
      font-size: 16px;
      background-size: cover;
      background-image: url("/img/header_index.svg"); }
    .header__content--middle {
      height: 100%;
      background-color: #758a93;
      position: relative;
      font-size: 16px;
      background-size: cover;
      background-image: url("/img/header_middle.svg"); }
    .header__content--description {
      position: absolute;
      background: linear-gradient(transparent, #000);
      bottom: 0;
      width: 100%;
      height: 150px;
      font-weight: bold;
      color: #fff;
      line-height: 138.91%;
      align-items: center;
      letter-spacing: 0.1em;
      padding: 27px; }
  .header__menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.09em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }
    .header__menu--logo {
      background-image: url("/img/header_logo.svg");
      width: 274px;
      height: 130px; }
    .header__menu--item {
      display: table;
      font-family: Montserrat;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 160%;
      margin: 0 auto; }
    .header__menu--border {
      border: 2px solid #FEED54;
      margin-top: -5px;
      margin-bottom: 20px; }

.top__container {
  display: grid;
  grid-template-columns: auto 300px; }

.top__content--head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.article h2 {
  font-size: 24px;
  text-align: left; }

.article__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; }

.article__text {
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.1em; }

.article__date {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 180%;
  letter-spacing: 0.1em;
  color: #758a93; }

.article__item {
  width: calc(32% - 11px);
  margin-right: 20px; }
  .article__item:not(:nth-child(-n + 3)) {
    margin-top: 20px; }
  .article__item:nth-child(3n) {
    margin-right: 0px; }
  .article__item img {
    width: 100%;
    height: auto;
    border-radius: 15px; }
  .article__item a {
    transition: 0.5s; }
    .article__item a:hover {
      opacity: 0.7; }
      .article__item a:hover img {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

.article__text {
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.1em; }

.section__title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px; }
  .section__title--description {
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10%; }

.interview .section__title {
  background-image: url("/img/interview_bg.svg"); }

.freelance {
  margin-top: 20px; }
  .freelance .section__title {
    background-image: url("/img/freelance_bg.svg"); }

.food .section__title {
  background-image: url("/img/food_bg.svg"); }

.interview .section__title,
.freelance .section__title,
.food .section__title {
  line-height: 120px; }
  .interview .section__title--sub,
  .freelance .section__title--sub,
  .food .section__title--sub {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 152.7%;
    letter-spacing: 0.15em;
    top: 30px;
    position: absolute; }
  .interview .section__title--description,
  .freelance .section__title--description,
  .food .section__title--description {
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 50px;
    right: 60px; }

.interview__list,
.freelance__list,
.food__list {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.interview__top,
.freelance__top,
.food__top {
  padding-right: 20px; }
  .interview__top--image,
  .freelance__top--image,
  .food__top--image {
    width: 350px;
    height: 350px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    border-radius: 15px; }
    .interview__top--image img,
    .freelance__top--image img,
    .food__top--image img {
      border-radius: 30px; }
    .interview__top--image .text,
    .freelance__top--image .text,
    .food__top--image .text {
      padding: 20px;
      position: absolute;
      bottom: 0;
      color: #fff;
      background: linear-gradient(transparent, #000); }
      .interview__top--image .text .date,
      .freelance__top--image .text .date,
      .food__top--image .text .date {
        color: #fff; }

.interview__date,
.freelance__date,
.food__date {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 180%;
  letter-spacing: 0.1em;
  color: #758A93; }

.interview__item,
.freelance__item,
.food__item {
  display: grid;
  grid-template-columns: 90px 1fr; }
  .interview__item img,
  .freelance__item img,
  .food__item img {
    width: 100%;
    height: auto;
    border-radius: 15px; }
  .interview__item a,
  .freelance__item a,
  .food__item a {
    padding: 0 10px 20px;
    transition: 0.5s; }
    .interview__item a:hover,
    .freelance__item a:hover,
    .food__item a:hover {
      opacity: 0.7; }
      .interview__item a:hover img,
      .freelance__item a:hover img,
      .food__item a:hover img {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

.interview__text,
.freelance__text,
.food__text {
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.1em; }

.footer {
  background: url("/img/footer_bg.svg") no-repeat center bottom; }
  .footer__logo {
    display: inline; }

.detail {
  max-width: 1024px;
  min-width: 768px;
  margin: 0 auto; }
  .detail__container {
    display: grid;
    grid-template-columns: 300px auto 300px;
    min-height: 300px; }

.detailArticles,
.detailInterviews {
  max-width: 625px;
  margin: 0 auto; }
  .detailArticles .section__header,
  .detailInterviews .section__header {
    background-image: url(/img/title_border.svg); }
  .detailArticles .section__title,
  .detailInterviews .section__title {
    background-image: url(/img/title_border.svg); }
    .detailArticles .section__title--description,
    .detailInterviews .section__title--description {
      font-size: 18px;
      text-align: right;
      position: absolute;
      top: 17px;
      right: 0; }

.category__item {
  width: 25%; }

.pagination {
  display: flex; }

.dummy-ad-bg {
  background: #dbdbdb;
  width: 223px;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center; }

.ranking .daily,
.ranking .total {
  width: 50%; }

.ranking__list {
  display: flex;
  flex-grow: 1;
  width: 100%; }
