@charset "UTF-8";
.article, .interview,
.freelance,
.food {
  padding: 0 20px 0 0; }
  @media (max-width: 768px) {
    .article, .interview,
    .freelance,
    .food {
      padding: 80px 5%; } }

.container {
  width: 100%;
  margin: 0 auto; }

.header__menu--wrap {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 60% 40%; }

.header__content {
  width: auto;
  height: 500px; }
  .header__content--thumb {
    height: 100%;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    background-size: cover;
    background-image: url("/img/header_thumb.svg"); }
  .header__content--wrap {
    display: grid;
    grid-template-rows: 50% 50%;
    border-radius: 0 30px 30px 0;
    overflow: hidden; }
  .header__content--index {
    height: 100%;
    background-color: #42A4EB;
    position: relative;
    font-size: 16px;
    background-size: cover;
    background-image: url("/img/header_index.svg"); }
  .header__content--middle {
    height: 100%;
    background-color: #758a93;
    position: relative;
    font-size: 16px;
    background-size: cover;
    background-image: url("/img/header_middle.svg"); }
  .header__content--description {
    position: absolute;
    background: linear-gradient(transparent, #000);
    bottom: 0;
    width: 100%;
    height: 150px;
    font-weight: bold;
    color: #fff;
    line-height: 138.91%;
    align-items: center;
    letter-spacing: 0.1em;
    padding: 27px; }

.header__menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.09em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; }
  .header__menu--logo {
    background-image: url("/img/header_logo_sp.svg");
    background-size: contain;
    width: 274px;
    height: 100px; }
  .header__menu--navi {
    text-align: right; }
    .header__menu--navi .icon {
      height: 100%;
      width: 50px;
      display: inline-flex; }
      .header__menu--navi .icon img {
        margin: 0 auto; }
  .header__menu--item {
    display: table;
    font-family: Montserrat;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%; }
  .header__menu--border {
    border: 2px solid #FEED54;
    margin-top: -5px;
    margin-bottom: 20px; }

.header__register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #E2E6E9; }
  .header__register--item {
    text-align: center; }

.article {
  border-bottom: 60px solid #E6EAED; }
  .article h2 {
    font-size: 24px;
    text-align: left; }
  .article__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; }
  .article__text {
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.1em; }
  .article__date {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 180%;
    letter-spacing: 0.1em;
    color: #758a93; }
  .article__item {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px; }
    .article__item:nth-child(2n) {
      margin-right: 0px; }
    .article__item img {
      width: 100%;
      height: auto;
      border-radius: 15px; }
    .article__item a {
      transition: 0.5s; }
      .article__item a:hover {
        opacity: 0.7; }
        .article__item a:hover img {
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
  .article__text {
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.1em; }

.section__title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px; }
  .section__title--description {
    font-size: 18px;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 50px; }

.interview .section__title {
  background-image: url("/img/interview_bg_sp.svg");
  min-height: 200px;
  background-size: contain; }

.freelance .section__title {
  background-image: url("/img/freelance_bg_sp.svg");
  min-height: 200px;
  background-size: contain; }

.food .section__title {
  background-image: url("/img/food_bg_sp.svg");
  min-height: 200px;
  background-size: contain; }

.interview,
.freelance,
.food {
  border-bottom: 60px solid #E6EAED; }
  .interview .section__title,
  .freelance .section__title,
  .food .section__title {
    line-height: 120px; }
    .interview .section__title--sub,
    .freelance .section__title--sub,
    .food .section__title--sub {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 152.7%;
      letter-spacing: 0.15em;
      top: 30px;
      position: absolute; }
    .interview .section__title--description,
    .freelance .section__title--description,
    .food .section__title--description {
      font-size: 18px;
      text-align: right;
      position: absolute;
      right: 20px;
      bottom: 50px; }
  .interview__top,
  .freelance__top,
  .food__top {
    padding-right: 20px; }
    .interview__top--image,
    .freelance__top--image,
    .food__top--image {
      width: 100%;
      height: 30%;
      display: flex;
      overflow: hidden;
      justify-content: center;
      position: relative;
      border-radius: 15px;
      margin-bottom: 20px; }
      .interview__top--image img,
      .freelance__top--image img,
      .food__top--image img {
        border-radius: 30px; }
      .interview__top--image .text,
      .freelance__top--image .text,
      .food__top--image .text {
        padding: 20px;
        position: absolute;
        bottom: 0;
        color: #fff;
        background: linear-gradient(transparent, #000); }
        .interview__top--image .text .date,
        .freelance__top--image .text .date,
        .food__top--image .text .date {
          color: #fff; }
  .interview__date,
  .freelance__date,
  .food__date {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 180%;
    letter-spacing: 0.1em;
    color: #758A93; }
  .interview__itemWrap,
  .freelance__itemWrap,
  .food__itemWrap {
    display: grid;
    grid-template-columns: 33% 33% 33%; }
  .interview__item,
  .freelance__item,
  .food__item {
    margin: 10px; }
    .interview__item img,
    .freelance__item img,
    .food__item img {
      width: 100%;
      height: auto;
      border-radius: 15px; }
    .interview__item a,
    .freelance__item a,
    .food__item a {
      padding: 0 10px 20px;
      transition: 0.5s; }
      .interview__item a:hover,
      .freelance__item a:hover,
      .food__item a:hover {
        opacity: 0.7; }
        .interview__item a:hover img,
        .freelance__item a:hover img,
        .food__item a:hover img {
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
  .interview__text,
  .freelance__text,
  .food__text {
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.1em; }

.footer {
  background: url(/img/footer_bg_sp.svg) no-repeat center top;
  background-size: contain;
  min-height: 300px; }
  .footer__logo {
    display: block;
    text-align: center;
    margin-top: 250px; }
  .footer a {
    text-align: center;
    width: calc(49% - 40px);
    padding: 5px;
    display: inline-block; }
  .footer a:first-child {
    width: 100%;
    margin-top: 300px; }

.breadcrumbs {
  margin: 0 20px; }

.detail {
  margin: 0 auto; }
  .detail__date {
    margin: 0 20px 40px; }
  .detail__article img {
    width: 100%; }
  .detail__title {
    margin: 0 20px; }
  .detail__register {
    width: 100%;
    background-color: #E2E6E9; }
    .detail__register img {
      max-width: 80%; }

.share__header--icons {
  display: flex; }
  .share__header--icons .icon {
    margin: 10px 10px 10px 0;
    width: 80px; }
  .share__header--icons .icon:first-child {
    margin-left: calc((100% - 270px)/2); }

.share__footer img {
  margin: 0 20px; }

.detailArticles,
.detailInterviews {
  padding: 0 20px 100px;
  width: 100%;
  border-bottom: 60px solid #E2E6E9;
  position: relative; }
  .detailArticles .section___title--description,
  .detailInterviews .section___title--description {
    font-size: 18px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0; }

.category__item {
  width: 50%; }
  .category__item--img {
    text-align: center; }
  .category__item img {
    width: 100%; }

.pagination {
  display: grid; }

.ranking {
  /*tabボタン部分*/ }
  .ranking .daily,
  .ranking .total {
    width: 100%; }
  .ranking .input {
    position: absolute;
    opacity: 0; }
  .ranking__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px; }
  .ranking .tab-label {
    width: 40%;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #B0BDC7;
    margin: 0 auto 20px;
    transition: background 0.1s, color 0.1s; }
  .ranking .tab-label:hover {
    background: #d8d8d8; }
  .ranking .tab-label:active {
    background: #ccc; }
  .ranking .input:checked + .tab-label {
    color: #000;
    border-bottom: 5px solid #feed54; }
  .ranking .input + .tab-label {
    color: #B0BDC7;
    border-bottom: 5px solid #E2E6E9; }

@media (min-width: 600px) {
  .tab-label {
    width: auto; } }

/*tabの本文エリア*/
.tab-panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff; }

@media (min-width: 600px) {
  .tab-panel {
    order: 99; } }

.input:checked + .tab-label + .tab-panel {
  display: block; }
